* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: crimson;

}


.title-container {
  text-align: center;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;

  h1 {
    text-shadow: 2px 2px royalblue;
    color: fff;
    padding: 0.5rem;
    letter-spacing: 1px;

  }

  p {
    color: #fff;
  }
}

.pokedex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokedex-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-between;
  max-width: 90%;
  margin: auto;
}

.pokemon {
  background-color: #eee;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  margin: 10px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  cursor: pointer;

  &:hover {
    animation: bounce 0.2s ease-in;
  }

  .pokemon-id {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    font-size: 0.8rem;
    padding: 5px 10px;
    width: 30%;
    margin: auto;
  }

  .pokemonImage {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.pokemonImage img {
  max-width: 90%;
  margin-top: 20px;
  border-radius: 4px solid tomato;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;


}

@keyframes bounce {
  0% {
    transform: translateY(0)
  }

  50% {
    transform: translateY(-20px)
  }

  100% {
    transform: translateY(0)
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}