* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
}

main {
  -webkit-animation: fade-in 1s ease;
          animation: fade-in 1s ease;
}

.title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.title-content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.8rem;
}

.title-content h1 {
  text-shadow: 2px 2px royalblue;
  color: fff;
  padding: 0.5rem;
  letter-spacing: 1px;
}

.title-content p {
  color: #fff;
}

.button button {
  cursor: pointer;
  text-align: center;
  background-color: royalblue;
  color: #fff;
  padding: 15px 52px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.pokedex-container {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pokedex-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  max-width: 90%;
  margin: auto;
}

.pokemon {
  background-color: #eee;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  margin: 10px;
  -webkit-box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
          box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  cursor: pointer;
}

.pokemon:hover {
  -webkit-animation: pounce 0.2s ease-in;
          animation: pounce 0.2s ease-in;
}

.pokemon .pokemon-id {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  font-size: 0.8rem;
  padding: 5px 10px;
  width: 30%;
  margin: auto;
}

.pokemon .pokemonImage {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
}

.pokemonImage img {
  max-width: 90%;
  margin-top: 20px;
}

.rotate {
  position: absolute;
  top: 50%;
  right: 49%;
  text-align: center;
  -webkit-animation: rotate 0.3s ease-in infinite;
          animation: rotate 0.3s ease-in infinite;
  width: 50px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  text-align: center;
}

.popup .info {
  font-size: 2rem;
  line-height: 3rem;
  padding: 0.1rem;
}

.popup img {
  width: 40%;
}

.popup button {
  position: fixed;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

@-webkit-keyframes pounce {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes pounce {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
/*# sourceMappingURL=style.css.map */